[Tenant]
name={{tenant_name}}
id={{tenant_id}}

[Product]
name={{product_name}}
id={{product_id}}
description=
api_key_id={{api_key_id}}
api_key_secret={{api_key_secret}}

[Database]
host={{groups['mongodb']|join(', ')}}


[RabbitMQ]
uri=amqp://{{rabbitmq_user}}:{{rabbitmq_pass}}@127.0.0.1:5672

[MessageServer]
url=http://{{svc_ip}}:{{svc_port}}
name=sonix-messaging

[PushServer]
url=http://{{svc_ip}}:{{svc_port}}
ip=http://{{svc_ip}}:{{svc_port}}

[Https]
server=https://{{host_ip}}
port=:443
crt=./{{svc_domain}}.crt
key=./{{svc_domain}}.key
prefix-RESTfulURL=https://{{svc_ip}}/v2

[Http]
server=http://{{host_ip}}
port=:{{host_port}}

[FileServer]
path={{working_directory}}/appsvr/html/

[OAuth.Google]
Login_URL=https://accounts.google.com/o/oauth3/auth
Token_URL=https://accounts.google.com/o/oauth2/token
Redirect_URL=http://app.dev.sonixcloud.com/v1/gcallback
User_URL=https://www.googleapis.com/plus/v1/people/me
Scope=https://www.googleapis.com/auth/plus.login

[OAuth.Facebook]
Login_URL=https://www.facebook.com/dialog/oauth
Token_URL=https://graph.facebook.com/oauth/access_token
Redirect_URL=http://app.dev.sonixcloud.com/v1/fcallback
User_URL=https://graph.facebook.com/v2.1/me

[OAuth.QQ]
Login_URL=https://graph.qq.com/oauth2.0/authorize
Token_URL=https://graph.qq.com/oauth2.0/token
Redirect_URL=http://app.dev.sonixcloud.com/v1/qqcallback
Open_ID_URL=https://graph.qq.com/oauth2.0/me
User_URL=https://graph.qq.com/user/get_user_info

[OAuth.WeChat]
Login_URL=https://open.weixin.qq.com/connect/qrconnect
Token_URL=https://api.weixin.qq.com/sns/oauth2/access_token
Refresh_token_URL=https://api.weixin.qq.com/sns/oauth2/refresh_token
Redirect_URL=http://api.dev.sonixcloud.com/azure/v1/wcallback
User_URL=https://api.weixin.qq.com/sns/userinfo

[product]
count=14

[product0]
Name=C2M_Debug
Number=0x0000ffff
AppID=wxf017234ec9ab6221
Secret=92c9ffcfdc87a276f1383b334ae4c237
CertFile=./profile/c2mDevCert.pem
KeyFile=./profile/c2mDevKey.pem
Debug=yes

[product1]
Name=C2M
Number=0x00010000
AppID=wxf017234ec9ab6221
Secret=92c9ffcfdc87a276f1383b334ae4c237
CertFile=./profile/c2mProCert.pem
KeyFile=./profile/c2mProKey.pem
Debug=no

[product2]
Name=DMC39_Debug
Number=0x00000000
AppID=wx83467fa1a1ea0e6a
Secret=4f21f868292afdd3492282d91ed0027b
CertFile=./profile/iBabyCamCert.pem
KeyFile=./profile/iBabyCamkey.unencrypted.pem
Debug=yes

[product3]
Name=DMC39
Number=0x00000001
AppID=wx83467fa1a1ea0e6a
Secret=4f21f868292afdd3492282d91ed0027b
CertFile=./profile/iBabyCamCert_product.pem
KeyFile=./profile/dualmodecam.key.product.unencrypted.pem
Debug=no

[product4]
Name=NVR560_Debug
Number=0x0000000f
AppID=wx6452dd255a95f5b5
Secret=4865e04c10bf4ccf8eaddf17bc96a458
CertFile=./profile/TurnKeyCert.pem
KeyFile=./profile/key.unencrypted.pem
Debug=yes

[product5]
Name=NVR560
Number=0x00000010
AppID=wx6452dd255a95f5b5
Secret=4865e04c10bf4ccf8eaddf17bc96a458
CertFile=./profile/TurnKeyCert.pem
KeyFile=./profile/key.unencrypted.pem
Debug=no

[product6]
Name=WebApp
Number=0xffffffff
AppID=wx88d84a0be45ebd90
Secret=5bd9383769ef27555b000529d705967c

[product7]
Name=InHouse_C2M_Debug
Number=0x0040ffff
AppID=wxf017234ec9ab6221
Secret=92c9ffcfdc87a276f1383b334ae4c237
CertFile=./profile/inhouse_c2m_cn_devCert.pem
KeyFile=./profile/inhouse_c2m_cn_devKey.pem
Debug=yes

[product8]
Name=InHouse_C2M
Number=0x00410000
AppID=wxf017234ec9ab6221
Secret=92c9ffcfdc87a276f1383b334ae4c237
CertFile=./profile/inhouse_c2m_cn_proCert.pem
KeyFile=./profile/inhouse_c2m_cn_proKey.pem
Debug=no

[product9]
Name=C2M_WW_Debug
Number=0x001ffff
AppID=wx3058a4e0b5342051
Secret=c4afd10cabb5141c59f3380bb4185b5d
CertFile=./profile/c2mwwDevCert.pem
KeyFile=./profile/c2mwwDevKey.pem
Debug=yes

[product10]
Name=C2M_WW
Number=0x0020000
AppID=wx3058a4e0b5342051
Secret=c4afd10cabb5141c59f3380bb4185b5d
CertFile=./profile/c2mwwProCert.pem
KeyFile=./profile/c2mwwProKey.pem
Debug=no

[product11]
Name=beikeyun_IPC_Debug
Number=0x0050ffff
AppID=wxa877906e964c9ef0
Secret=271e89126d2efa172a0e128327a111ff
CertFile=./profile/BK_dev_cert.pem
KeyFile=./profile/BK_dev_key.pem
Debug=yes

[product12]
Name=beikeyun_IPC
Number=0x00510000
AppID=wxa877906e964c9ef0
Secret=271e89126d2efa172a0e128327a111ff
CertFile=./profile/BK_pro_cert.pem
KeyFile=./profile/BK_pro_key.pem
Debug=no

[product13]
Name=SOHOT_DEBUG
Number=0x11000000
AppID=wx05ae5c4a04b1c7fe
Secret=df4b38b49c22a6c34ca90120fe657e41

[emailService]
SmtpServer=email-smtp.us-east-1.amazonaws.com:465
SmtpAccount=AKIAJL3C3KUP2OBB5ZXA
SmtpPassword=AjBc1+WdqVLIcQhQfR4a6u1arMx7X7PsqUPryVvU874a
From=noreply@sonixcloud.com
ServiceName=IPCam Service
EmailTemplate=register_email_template.html

[emailRegister]
Title=IPCam-帐号注册确认
TokenExpire=20

[emailRedirect]
VerifySuccess=http://devapp.sohot.sonixcloud.com/html/cn/reg_ok.html
VerifyFail0=http://devapp.sohot.sonixcloud.com/html/cn/reg_tkn_err.html
VerifyFail1=http://devapp.sohot.sonixcloud.com/html/cn/reg_no_ac.html
VerifyFail2=http://devapp.sohot.sonixcloud.com/html/cn/reg_verified.html
VerifyFail3=http://devapp.sohot.sonixcloud.com/html/cn/reg_ac_status.html
VerifyFail4=http://devapp.sohot.sonixcloud.com/html/cn/reg_svr_err.html

[emailFindPassword]
Title=IPCam-密码重置服务
Template=find_pwd_email_template.html

[SMS_CN189]
access_token_url=https://oauth.api.189.cn/emp/oauth2/v3/access_token
code_url=http://api.189.cn/v2/dm/randcode/token
send_url=http://api.189.cn/v2/dm/randcode/sendSms
app_id=146685510000244309
app_secret=b01c06362b91322a81ea3af3683c11dd
code_expire=5

[CBIDRoutine]
interval=60
expired=120

[CAPPAGTRoutine]
interval=60
expired=864000
