---
service_manager:
  host: 172.21.2.40
  port: 20000

prober:
  interval: 5
  logLevel: DEBUG

host:
  name: {{host_name}}
  ip: {{host_ip}}

services:
  - id: 1
    name: {{svc_name}}
    host: {{host_ip}}
    port: {{host_port}}
