127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['rabbitmq_cluster'] %}
{{host}}    {{hostvars[host]['ansible_nodename']}}.localdomain   {{hostvars[host]['ansible_hostname']}}
{% endfor %}